GRPC_PORT=:50053

DB_HOST=db-auth
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=auth_db

USER_SERVICE_ADDR=user-service:50051
KAFKA_BROKER_ADDR=kafka:9092

JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URI=http://localhost:3000/login/google/callback
OAUTH_TELEGRAM_CLIENT_ID=
OAUTH_TELEGRAM_CLIENT_SECRET=
